<div class="p-2">
    <div class="sticky top-0 pl-2 pr-2 bg-orange-500 text-white rounded-lg shadow-md flex items-center justify-between">
        <p class="text-lg  flex-1">{{projectName}}</p>
<!-- 
        <div class="search-container">
            <mat-form-field class="flex-1 mx-2 search-field">
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <mat-label>Search Tasks</mat-label>
                <input  placeholder="Search..." >
            </mat-form-field>
        </div> -->
        

        <div class="flex items-center space-x-4">
            <button mat-icon-button aria-label="Add Project">
                <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button aria-label="Edit Project">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete Project">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Save Project" (click)="onSave()">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete Project" >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <div class="p-2">
        <mat-expansion-panel class="task-expansion-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Add/Edit Task
                </mat-panel-title>
            </mat-expansion-panel-header>
        
            <form [formGroup]="taskForm">
                <div fxLayout="column" fxLayoutGap="16px" class="form-container">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="fill"  class="form-filed-css">
                            <mat-label>Task Name</mat-label>
                            <input matInput formControlName="taskName" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Owner</mat-label>
                            <input matInput formControlName="owner" required>
                        </mat-form-field>
        
                        <mat-form-field appearance="fill" class="ml-5">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" required>
                                <mat-option *ngFor="let status of statusList" [value]="status">{{ status }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        

                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Priority</mat-label>
                            <input matInput type="number" formControlName="priority" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Start Date - Due Date</mat-label>
                            <mat-date-range-input  [rangePicker]="picker">
                                <input matStartDate formControlName="startDate" placeholder="Start date">
                                <input matEndDate formControlName="dueDate" placeholder="Due date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
        
                    <div fxLayout="row" fxLayoutGap="16px">
                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Project Name</mat-label>
                            <input matInput readonly formControlName="projectName" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Created On</mat-label>
                            <input formControlName="createdOn" readonly matInput [value]="taskForm.get('createdOn').value | date:'short'" >
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Created By</mat-label>
                            <input formControlName="createdBy" readonly matInput [value]="taskForm.get('createdBy').value" >
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Modified On</mat-label>
                            <input formControlName="modifiedOn" readonly matInput [value]="taskForm.get('modifiedOn').value | date:'short'" >
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-filed-css">
                            <mat-label>Modified By</mat-label>
                            <input formControlName="modifiedBy" readonly matInput [value]="taskForm.get('modifiedBy').value" >
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        
    </div>
<div style="height: 90%; width: 100%;"> 
<ag-grid-angular
  style="width: 100%; height:400px;"
  class="ag-theme-quartz"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="20">
</ag-grid-angular>
@if (loadSpinner) {
    <mat-spinner style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></mat-spinner>
}
</div>

</div>
