
.profile-fab {
    height: 35px !important;
    width: 35px !important;
    background: whitesmoke !important;
    box-shadow: 0px 1px 2px 4px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 1px 13px 0px rgba(0, 0, 0, 0.12);
}
::ng-deep .profile-detail .mat-fab .mat-button-wrapper {
  padding:  0px !important
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
  background: url('/src/assets/sidebar-3.jpg') no-repeat center center;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
}

.active-link {
  color: white !important;
  border-radius: 4px; 
  transition: all 0.15s ease;
  padding: 2px;
  border-bottom: 3px solid #fd7e14;
}
.shadow-purple-lg {
  box-shadow: 0 4px 10px rgba(128, 0, 128, 0.3);  
}

.nav-section{
margin: auto;
}
.expansion-panel{
  width:170px;
}
.expansion-panel-header{
  font-size: 15px;
  padding: 0px 5px;
  height: 30px !important;
}
.mat-expansion-panel-body{
  padding: 0px 0px 0px !important;
}
.logo-section {
  display: flex;
  align-items: center;
}
mat-sidenav {
  border-radius: 0 !important;
}
/* mat-sidenav a button{
 color: #fff !important;
} */
.content-margin p{
  border-top: 2px solid gray ;
}
.content-margin {
margin-left: 270px !important;
  margin-top: 10px;
}
.nav-bar{
  margin-left: 50px;
}
/* .logo-section {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-right: -10px;
} */

.logo-icon {
  font-size:30px; /* Make the icon larger */
  color: #fd7e14; /* Give the icon a vibrant color */
  margin-top: -10px; /* Space between icon and text */
  height:70px;
  width:80px
}

.sidebar-heading {
  font-weight: 600; /* Make the font bold */
  margin: 0; /* Remove default margin */
  color:#fff;
  text-transform: uppercase; /* Make the text uppercase */
  letter-spacing: 2px; /* Add space between letters for a modern look */
}
