<!-- <div>
    <mat-card class="inboxAutoClear-master" fxLayout="column" fxLayoutGap="25px">
        <mat-expansion-panel fxFlex="30">
            <mat-expansion-panel-header class="bg-blue-500">
                <mat-panel-title>
                  Add Project
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mt-10">
                <form [formGroup]="projectDetailsInputForm">
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline">
                            <mat-label>Project Name</mat-label>
                            <input matInput formControlName="projectName"/>
                        </mat-form-field>
                    </div>
                </form>
              </div>
        </mat-expansion-panel>
    </mat-card>
</div> -->


<div>
    <!-- <div class="sticky top-0 bg-orange-500 text-white rounded-lg shadow-md flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <button mat-icon-button aria-label="Add Project" (click)="onAddRow()">
                <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button aria-label="Edit Project">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete Project">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Save Project" (click)="onSave()">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete Project" (click)="refreshTable()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <p class="text-lg text-center flex-1">Projects Data</p>
    </div> -->
</div>




<div class="mt-12" style="height: 90%; width: 100%;">
    @if(!username){
        <div  class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Session Expired!</strong> Your session is logged out. Please log in again.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
       }
      <div class=" p-2">
          <div class="bg-neutral-200 h-14 p-2 rounded-lg">
              <div class="flex justify-between items-center">
  
                <div class="flex items-center space-x-2">
                  <mat-icon class="icon text-orange-400">book</mat-icon>
                  <p class="mt-2 font-semibold">Projects List</p>
                  <button mat-icon-button aria-label="Delete Project" (click)="refreshTable()">
                    <mat-icon>refresh</mat-icon>
                </button>
                </div>
                
                <div class="search-bar flex items-center">
                  <input
                    type="text"
                    class="form-control me-2"
                    placeholder="Search"
                    [(ngModel)]="searchQuery"
                  />
                  <button
                    class="btn btn-primary"
                    [disabled]="!searchQuery"
                  >
                    Search
                  </button>
                </div>
            
                <div>
                  <button class="btn btn btn-warning btn-sm" (click)="openModel()" ><mat-icon class="mb-custom">add</mat-icon>Add Project</button>
                </div>
              </div>
            </div>
      </div>
    <ag-grid-angular
      style="width: 100%; height: 60%;"
      class="ag-theme-quartz"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [editType]="editType"
      [rowSelection]="rowSelection"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColDef"
      (cellValueChanged)="onCellValueChanged($event)"
      (rowValueChanged)="onRowValueChanged($event)"
      (gridReady)="onGridReady($event)"
     >
    </ag-grid-angular>
  </div>
  
 <!-- Modal -->
 <div class="modal fade bd-example-modal-lg" #exampleModal >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">New Project Details</h6>
        </div>
        <div class="modal-body">
          <form [formGroup]="projectForm">
              <div class="d-flex flex-wrap">
                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                  <label for="name" class="form-label">Project Name</label>
                  <input type="text" class="form-control" formControlName="project_name" required placeholder="Enter Project Name" id="project_name">
                  @if(projectForm.get('project_name')?.invalid && projectForm.get('project_name')?.touched){
                    <div class="text-danger">
                      Project Name is required.
                    </div>
                  }
                </div>
                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                  <label for="designation" class="form-label">Project Head/Mananger</label>
                  <select class="form-control" formControlName="project_head" id="project_head">
                    <option value="" disabled selected>Select Head</option>
                    @for(manager of managers;track manager){
                    <option [value]="manager">{{ manager }}</option>
                    }
                  </select>  
                  @if(projectForm.get('project_head')?.invalid && projectForm.get('project_head')?.touched){
                    <div class="text-danger">
                      Project Head is required.
                    </div>
                  }              
                </div>

                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                    <label for="start_date" class="form-label">Started On</label>
                    <input type="datetime-local" class="form-control" formControlName="start_date" placeholder="Enter Start Date" id="createdOn">
                  </div>
              </div>
              <div class="d-flex flex-wrap">
                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                    <label for="end_date" class="form-label">Closed On</label>
                    <input type="datetime-local" class="form-control" formControlName="end_date" placeholder="Enter End Date" id="end_date">
                </div>

                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                  <label for="created_on" class="form-label">Created On</label>
                  <input type="datetime-local" class="form-control" formControlName="created_on" placeholder="Enter Created Date" id="created_on" readonly>
                </div>
                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                    <label for="created_by" class="form-label">Created By</label>
                    <input type="text" class="form-control" formControlName="created_by" placeholder="Enter Creator's Name" id="created_by" readonly>
                </div>
            </div>
            
              <div class="d-flex flex-wrap">
                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                  <label for="modified_on" class="form-label">Modified On</label>
                  <input type="datetime-local" class="form-control" formControlName="modified_on" placeholder="Enter Modified Date" id="modified_on" readonly>
                </div>
                <div class="d-flex flex-column flex-grow-1 p-2" style="max-width: 33.33%;">
                  <label for="modified_by" class="form-label">Modified By</label>
                  <input type="text" class="form-control" formControlName="modified_by" placeholder="Enter Modifier's Name" id="modified_by" readonly>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModel()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
        </div>
      </div>
    </div>
  </div>